{% extends 'base.html' %}

{% block title %}Ensino Médio Potiguar{% endblock %}

{% block content %}
<div class="pt-4">
    <div id="carouselIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <a href="{% url 'novoensinomedio' %}">
                    <img src="../../static/inicio/img/site.png" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'documentos/referencial' %}">
                    <img src="../../static/inicio/img/documentos.png" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'mapa' %}">
                    <img src="../../static/inicio/img/painel.png" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container my-5">
    <div class="row pb-5">
        <div class="col-lg-5 mb-5">
            <img src="../../static/inicio/img/ensinomedio.jpeg" width="200px" class="d-inline-block align-text-top" alt="Logo">
        </div>
        <div class="col-lg-7">
            <p class="blockquote text-justify">
                O Ensino Médio é uma etapa importante da Educação Básica que visa aprofundar os processos
                de aprendizagem iniciados no Ensino Fundamental e preparar os estudantes para a
                continuidade dos estudos e para o mundo do trabalho. Além disso, o Ensino Médio deve
                desenvolver o senso crítico dos estudantes, capacitá-los a enfrentar os problemas
                cotidianos e para participar da definição de rumos coletivos, promovendo o aperfeiçoamento
                dos valores humanos e das relações pessoais e comunitárias, a fim de que possam exercer
                plenamente sua cidadania. É a Lei de Diretrizes e Bases da Educação Nacional/LDB
                (Lei nº 9394/96) que confere ao Ensino Médio o caráter de etapa integradora e finalizadora
                da Educação Básica, e isso significa que ele deve garantir a formação integral do estudante.

            </p>
            <p class="blockquote text-justify">
                O Estado do Rio Grande do Norte, objetivando garantir a democratização do Ensino Médio,
                em cumprimento à Lei nº 9.394/1996, oferta a educação em tempo integral e parcial, em
                horário diurno e noturno, em diferentes modalidades, tais como: a Educação Profissional e
                Tecnológica (EPT), a Educação Especial, a Educação Básica do Campo, a Educação Escolar
                Indígena, a Educação Escolar Quilombola e a Educação de Jovens e Adultos (EJA), adequadas
                às necessidades e disponibilidades das juventudes potiguares. As ofertas mencionadas estão
                distribuídas em todo o território sob a gestão de 16 Diretorias Regionais de Ensino e Cultura (DIRECs).
            </p>
            <p class="blockquote text-justify">
                Nesse sentido, a rede estadual de ensino do Rio Grande do Norte empenha-se na garantia do
                acesso à esta etapa da educação básica, responsabilizando-se pela maior parte das
                matrículas dos jovens do nosso estado.
            </p>
        </div>
    </div>

    <!-- MODAL AVISOS-->
    <!-- <div class="modal fade" id="modalAviso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pé-de-Meia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="../../static/inicio/img/pedemeia.png" alt="Imagem" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <a href="{% url 'pedemeia' %}" type="button" class="btn btn-primary">Saiba mais!</a>
                </div>
            </div>
        </div>
     </div> -->
</div>

<style>
    .text-justify {
        text-align: justify;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var carousel = new bootstrap.Carousel(document.getElementById('carouselIndicators'), {
            interval: 3000
        });
    });
</script>

<script>
    document.querySelector('.ini').classList.add('active');

    document.addEventListener("DOMContentLoaded", function () {
    var myModal = new bootstrap.Modal(document.getElementById("modalAviso"));
    myModal.show();
  });
</script>
{% endblock %}