{% extends 'base.html' %}

{% block title %}Documentos Referenciais{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="pb-5 text-center">Documentos Referenciais</h1>
    <div class="pb-5">
        <p class="pt-5 blockquote">
            <strong>Estruturas Curriculares</strong>
        </p>
        <ul>
            <li>
                <ul class="container pontos pb-3">
                    <p class="blockquote">
                        A Arquitetura Curricular do Ensino Médio Potiguar busca garantir uma educação de qualidade social,
                        respeitando as identidades e as necessidades das juventudes do Estado, adotando formato progressivo
                        com relação à distribuição de carga-horária dos IFs, iniciando com uma carga-horária menor na 1ª
                        série e maior nas séries subsequentes. Tal arranjo favorece a formação do conjunto de competências
                        e habilidades essenciais a serem aprofundadas e ampliadas nos IFs de forma gradativa
                    </p>
                    <p class="blockquote pb-3">
                        <img src="../../static/inicio/img/arqdiu.png" class="img-fluid" width="1040" alt="">
                    </p>
                    <p class="blockquote pb-3">
                        <img src="../../static/inicio/img/arqnot.png" class="img-fluid" width="1040" alt="">
                    </p>
                    <p class="blockquote pb-3">
                        <img src="../../static/inicio/img/arqemti.png" class="img-fluid" width="1040" alt="">
                    </p>
                    <li>
                        <p class="pb-2">
                            <strong>Diurno:</strong>
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-4 ms-4 ms-md-0 pb-3">
                                <a href="../../static/inicio/src/DIURNO.pdf" target="_blank">
                                    <img src="../../static/inicio/img/EM-DIURNO.png" class="img-fluid" width="300px" alt="Referencial Curricular">
                                </a>
                            </div>
                            <div class="col-12 col-md-4 ms-4 ms-md-0 pb-3">
                                <a href="../../static/inicio/src/DIURNO-NORMAL.pdf" target="_blank">
                                    <img src="../../static/inicio/img/EMNORMAL-DIURNO.png" class="img-fluid" width="300px" alt="Referencial Curricular">
                                </a>
                            </div>
                            <div class="col-12 col-md-4 ms-4 ms-md-0 pb-3">
                                <a href="../../static/inicio/src/DIURNO-NEM.pdf" target="_blank">
                                    <img src="../../static/inicio/img/NEM-DIURNO.png" class="img-fluid" width="300px" alt="Referencial Curricular">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="pb-1 pt-4">
                            <strong>Noturno:</strong>                       
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-4 ms-4 ms-md-0 pb-3">
                                <a href="../../static/inicio/src/NOTURNO.pdf" target="_blank">
                                    <img src="../../static/inicio/img/EM-NOTURNO.png" class="img-fluid" width="300px" alt="Referencial Curricular">
                                </a>
                            </div>
                            <div class="col-12 col-md-4 ms-4 ms-md-0 pb-3">
                                <a href="../../static/inicio/src/NOTURNO-SUBSEQUENTE.pdf" target="_blank">
                                    <img src="../../static/inicio/img/EMSUB-NOTURNO.png" class="img-fluid" width="300px" alt="Referencial Curricular">
                                </a>
                            </div>
                            <div class="col-12 col-md-4 ms-4 ms-md-0 pb-3">
                                <a href="../../static/inicio/src/NOTURNO-NEM.pdf" target="_blank">
                                    <img src="../../static/inicio/img/NEM-NOTURNO.png" class="img-fluid" width="300px" alt="Referencial Curricular">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="pb-1 pt-4">
                            <strong>Integral:</strong>                      
                        </p>
                        <div class="row">
                            <div class="col-12 ms-4 ms-md-0">
                                <a href="../../static/inicio/src/INTEGRAL.pdf" target="_blank">
                                    <img src="../../static/inicio/img/EM-INTEGRAL.png" class="img-fluid" width="300px" alt="Integral">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="pt-5 blockquote">
            <strong>Itinerários Formativos</strong>
        </p>
        <p class="blockquote pb-3">
            Os Itinerários Formativos, estão articulados indissociavelmente à Formação Geral Básica, buscando
            a ampliação das aprendizagens. Norteados por Eixos Estruturantes, os Itinerários Formativos exercem papel
            fundamental na flexibilização curricular, ofertando práticas pedagógicas interdisciplinares e
            transdisciplinares.
        </p>
        <p class="blockquote pb-3">
            O objetivo dos Itinerários é desenvolver habilidades específicas e estão organizados em unidades curriculares
            pré-estabelecidas. Os mesmos são compostos por Trilhas de Aprofundamento propedêutico, Unidades Curriculares
            Eletivas, Projeto de Vida. Os mapas mentais abaixo apresentam as características principais dos componentes
            dos Itinerários formativos.
        </p>
        <ul>
            <li>
                <h5>Projeto de Vida</h5>
                <p class="blockquote pb-3">
                        Projeto de Vida promove a reflexão nas dimensões pessoal, cidadã e profissional em 
                        articulação com as áreas do conhecimento e seus respectivos componentes curriculares 
                        da  Formação Geral Básica, apoiando o estudante na escolha do percurso formativo e, 
                        sobretudo,  das Trilhas de Aprofundamento ofertadas, contribuindo para que os 
                        estudantes reconheçam  suas competências, habilidades, saberes, desejos e a relação 
                        deles com suas aspirações e com o  meio social. 
                </p>
                <p class="blockquote pb-3 container-fluid">
                    <img src="../../static/inicio/img/projetovida.png" class="img-fluid" width="1040" alt="">
                </p>
            </li>
            <li>
                <h5 class="pb-3">Eletivas</h5>
                <p class="blockquote pb-3">
                    <img src="../../static/inicio/img/eletivas.png" class="img-fluid" width="1040" alt="">
                </p>
            </li>
            <li>
                <h5 class="pb-1">Trilhas de Aprofundamento</h5>
                <div class="container col-12 ms-4 ms-md-0 pb-5">
                    <a href="../../static/inicio/src/20230315_IF_Trilhas de Aprofundamento_v1.1.pdf" target="_blank">
                        <img src="../../static/inicio/img/IF-Trilha.png" class="img-fluid" width="300px" alt="Trilhas de Aprofundamento">
                    </a>
                </div>
                <div>
                    <p class="blockquote pb-3">
                        Este documento apresenta os conceitos e a organização dos Itinerários Formativos (IFs) para o
                        Ensino Médio Potiguar, com ênfase nas Trilhas de Aprofundamento propedêuticas, exclusivas e
                        integradas, produzidas durante as oficinas, além das orientações a serem mobilizadas para a
                        sua implementação a partir da 2a série do ensino médio.
                    </p>
                </div>
                <div>
                    <p class="blockquote pb-3">
                        <img src="../../static/inicio/img/trilhasapro.png" class="img-fluid" width="1040" alt="">
                    </p>
                </div>
            </li>
            <li>
                <h5>Atividades Integradoras</h5>
                <p class="blockquote">
                    São compostas por Orientação Acadêmica, Práticas Experimentais e Eletivas  Orientadas, 
                    organizam-se a partir das competências e habilidades das áreas do conhecimento e  são 
                    norteadas pelos eixos estruturantes dos Itinerários Formativos;
                </p>
                <p class="blockquote">
                    Orientação Acadêmica tem como caráter o acompanhamento pedagógico da  aprendizagem dos 
                    estudantes, desenvolvendo autonomia e autodidatismo, com foco no  Protagonismo Juvenil 
                    e na equidade. Tem como premissa: aprender a aprender, fazer,  conhecer e conviver;
                </p>
                <p class="blockquote">
                    As Práticas Experimentais serão realizadas em laboratórios e outros ambientes,  
                    envolvendo os estudantes em investigações científicas, de modo a desenvolver  
                    habilidades e a capacidade de resolução de problemas;
                </p>
                <p class="blockquote">
                    As Eletivas Orientadas possibilitam a superação das dificuldades de aprendizagem de  
                    forma continuada por meio da construção de competências e habilidades dos objetos de  
                    conhecimento dos componentes curriculares nas áreas de conhecimento.
                </p>
                <p class="blockquote">
                    As Oficinas Formativas constituem projetos semestrais que contemplem ações práticas 
                    voltadas às temáticas de Meio Ambiente, Esporte e Lazer, Cultura e Arte, Tecnologia e 
                    Inovação. São unidades curriculares obrigatórias e de livre escolha das temáticas para os 
                    estudantes, ofertadas a depender das condições da unidade escolar.
                </p>
            </li>
        </ul>
    </div>
</div>
<style>
    ul {
        list-style-type: none;
    }

    ul .pontos {
        list-style-type: circle;
    }

    ul li .ref {
        color: black;
    }

    a:link {
        text-decoration: none;
    }
</style>
{% endblock %}