{% extends 'base.html' %}

{% block title %}Dúvidas - Ensino Médio Potiguar{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Perguntas Frequentes:</h1>
    <!-- Dúvidas -->
    <div class="accordion py-5">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUm" aria-expanded="false" aria-controls="collapseUm">
                    <strong>O que é o Novo Ensino Médio?</strong>
                </button>
            </h2>
            <div id="collapseUm" class="accordion-collapse collapse">
                <div class="accordion-body">
                   <p class="blockquote">
                        A Lei nº 13.415/2017 alterou a Lei de Diretrizes e Bases da Educação Nacional e estabeleceu 
                        uma mudança na estrutura do ensino médio, ampliando o tempo mínimo do estudante na escola de 
                        800 horas para 1.000 horas anuais (até 2022) e definindo uma nova organização curricular, 
                        mais flexível, que contemple uma Base Nacional Comum Curricular (BNCC) e a oferta de diferentes
                        possibilidades de escolhas aos estudantes, os itinerários formativos, com foco nas áreas de 
                        conhecimento e na formação técnica e profissional. A mudança tem como objetivos garantir a 
                        oferta de educação de qualidade a todos os jovens brasileiros e de aproximar as escolas à 
                        realidade dos estudantes de hoje, considerando as novas demandas e complexidades do mundo do 
                        trabalho e da vida em sociedade.
                   </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDois" aria-expanded="false" aria-controls="collapseDois">
                    <strong>O que é a Base Nacional Comum Curricular (BNCC)?</strong>
                </button>
            </h2>
            <div id="collapseDois" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        É um conjunto de orientações que deverá nortear a (re)elaboração dos currículos de referência das 
                        escolas das redes públicas e privadas de ensino de todo o Brasil. A Base trará os conhecimentos 
                        essenciais, as competências, habilidades e as aprendizagens pretendidas para crianças e jovens em 
                        cada etapa da educação básica. A BNCC pretende promover a elevação da qualidade do ensino no país 
                        por meio de uma referência comum obrigatória para todas as escolas de educação básica, respeitando 
                        a autonomia assegurada pela Constituição aos entes federados e às escolas. A carga horária da BNCC 
                        deve ter até 1800 horas, a carga horária restante deverá ser destinada aos itinerários formativos, espaço 
                        de escolha dos estudantes.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                    <strong>E o que são os itinerário formativos?</strong> 
                </button>
            </h2>
            <div id="collapseTres" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        Os itinerários formativos são o conjunto de disciplinas, projetos, oficinas, núcleos de estudo, 
                        entre outras situações de trabalho, que os estudantes poderão escolher no ensino médio. Os itinerários 
                        formativos podem se aprofundar nos conhecimentos de uma área do conhecimento (Matemáticas e suas 
                        Tecnologias, Linguagens e suas Tecnologias, Ciências da Natureza e suas Tecnologias e Ciências Humanas e 
                        Sociais Aplicadas) e da formação técnica e profissional (FTP) ou mesmo nos conhecimentos de duas ou mais 
                        áreas e da FTP. As redes de ensino terão autonomia para definir quais os itinerários formativos irão 
                        ofertar, considerando um processo que envolva a participação de toda a comunidade escolar.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuatro" aria-expanded="false" aria-controls="collapseQuatro">
                    <strong>Quais serão os benefícios para os estudantes com a nova organização curricular?</strong>
                </button>
            </h2>
            <div id="collapseQuatro" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        O Novo Ensino Médio pretende atender às necessidades e às expectativas dos jovens, fortalecendo 
                        o protagonismo juvenil na medida em que possibilita aos estudantes escolher o itinerário formativo 
                        no qual desejam aprofundar seus conhecimentos. Um currículo que contemple uma formação geral, 
                        orientada pela BNCC, e também itinerários formativos que possibilitem aos estudantes aprofundar seus 
                        estudos na(s) área(s) de conhecimento com a(s) qual(is) se identificam ou, ainda, em curso(s) ou 
                        habilitações de formação técnica e profissional, contribuirá para maior interesse dos jovens em acessar 
                        a escola e, consequentemente, para sua permanência e melhoria dos resultados da aprendizagem.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                    <strong>Os estudantes serão orientados para a escolha dos itinerários formativos?</strong>
                </button>
            </h2>
            <div id="collapseCinco" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        A lei dispõe sobre o desenvolvimento de projetos de vida dos estudantes, o que será o 
                        momento desencadeador para refletir sobre o que se deseja e conhecer as possibilidades 
                        do Novo Ensino Médio. A escola deverá criar os espaços e tempos de diálogo com os 
                        estudantes, mostrando suas possibilidades de escolha, avaliando seus interesses e, 
                        consequentemente, orientando-os nessas escolhas. Ou seja, é fundamental trabalhar o 
                        desenvolvimento do projeto de vida dos estudantes, para que sejam capazes de fazer 
                        escolhas responsáveis e conscientes, em diálogo com seus anseios e aptidões.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis">
                    <strong>Como será a formação profissional e técnica do estudante?</strong>
                </button>
            </h2>
            <div id="collapseSeis" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        A formação profissional e técnica será mais uma alternativa para o aluno. O Novo Ensino 
                        Médio permitirá que o jovem opte por uma formação profissional e técnica dentro da carga 
                        horária do ensino médio regular. Ao final dos três anos, os sistemas de ensino deverão 
                        certificá-lo no ensino médio e no curso técnico ou nos cursos profissionalizantes que 
                        escolheu.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSete" aria-expanded="false" aria-controls="collapseSete">
                    <strong>O Novo Ensino Médio exclui disciplinas dos currículos?</strong>
                </button>
            </h2>
            <div id="collapseSete" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        Não. Pelo contrário, a proposta atual da BNCC, aprovada pelo Conselho Nacional de Educação 
                        (CNE), mobiliza conhecimentos de todos os componentes curriculares em suas competências e 
                        habilidades e, portanto, torna seu desenvolvimento obrigatório. Os currículos de 
                        referência das redes e os Projetos Pedagógicos das escolas que irão definir a organização 
                        e a forma de ensino dos conteúdos e conhecimentos de cada um desses componentes, 
                        considerando as particularidades e características de cada região.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOito" aria-expanded="false" aria-controls="collapseOito">
                    <strong>Como ficará a oferta de educação física, arte, sociologia e filosofia? E língua portuguesa e matemática?</strong>
                </button>
            </h2>
            <div id="collapseOito" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        A LDB inclui, no ensino médio, obrigatoriamente, estudos e práticas de educação física, arte, 
                        sociologia e filosofia (Art. 35-A, § 2°). Já o ensino de língua portuguesa e matemática será 
                        obrigatório nos três anos do ensino médio, assegurada às comunidades indígenas, também, a 
                        utilização das respectivas línguas maternas (LDB, Art. 35-A, §3°), independente da(s) área(s) 
                        de aprofundamento que o estudante escolher em seu itinerário formativo.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNove" aria-expanded="false" aria-controls="collapseNove">
                    <strong>E a língua inglesa? Por que foi escolhida como obrigatória?</strong>
                </button>
            </h2>
            <div id="collapseNove" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        Anteriormente, a LDB não trazia a língua inglesa como estudo obrigatório. A Lei nº 13.415/2017 
                        torna o inglês obrigatório desde o 6º ano do ensino fundamental até o ensino médio. Os sistemas de 
                        ensino poderão ofertar outras línguas estrangeiras se assim desejarem, preferencialmente o espanhol.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDez" aria-expanded="false" aria-controls="collapseDez">
                    <strong>Profissionais com notório saber poderão atuar como docentes no itinerário de formação profissional e técnica?</strong>
                </button>
            </h2>
            <div id="collapseDez" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        A Lei de Diretrizes e Bases da Educação (Art. 61, IV) permite a atuação dos profissionais 
                        com notório saber exclusivamente para atender a formação técnica e profissional e estes 
                        profissionais deverão ser reconhecidos pelos respectivos sistemas de ensino, para ministrar 
                        conteúdos de áreas afins à sua formação ou experiência profissional, atestados por titulação 
                        específica ou prática de ensino em unidades educacionais da rede pública ou privada ou das 
                        corporações privadas em que tenham atuado.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDoze" aria-expanded="false" aria-controls="collapseDoze">
                    <strong>Como será a formação de professores?</strong>
                </button>
            </h2>
            <div id="collapseDoze" class="accordion-collapse collapse">
                <div class="accordion-body">
                   <p class="blockquote">
                        A formação de professores para atuar na educação básica, conforme disposto na LDB, 
                        será realizada em nível superior, em curso de licenciatura plena, admitida, como formação 
                        mínima para o exercício do magistério na educação infantil e nos cinco primeiros anos do 
                        ensino fundamental, a formação em nível médio, na modalidade normal (LDB, Art. 62). Os 
                        profissionais graduados que tenham feito complementação pedagógica também podem atuar na 
                        educação básica, conforme disposto pelo Conselho Nacional de Educação (Art. 61, V).
                   </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuatorze" aria-expanded="false" aria-controls="collapseQuatorze">
                    <strong>Como serão implementadas as escolas em tempo integral?</strong>
                </button>
            </h2>
            <div id="collapseQuatorze" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p class="blockquote">
                        O Ministério da Educação, por meio da Portaria nº 1.145/2016 substituída pela Portaria 
                        nº. 727/2017, instituiu o Programa de Fomento à Implementação de Escolas em Tempo 
                        Integral, e a Lei nº 13.415/2017 instituiu a Política de Fomento à Implementação de 
                        Escolas de Ensino Médio em Tempo Integral, estabelecendo um período de 10 anos para 
                        repasse de recursos às SEE.
                    </p>
                    <p class="blockquote">
                        O PNE estabelece que, até 2024, o país deve atender, pelo menos, 
                        25% das matrículas da educação básica em tempo integral. É importante ressaltar que a 
                        lei do Novo Ensino Médio não determina que todas as escolas passem a ter o ensino médio 
                        integral, mas sinaliza que, progressivamente, as matrículas em tempo integral sejam 
                        ampliadas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Dúvidas -->
</div>
<style>
    ul li .duv {
        color: black;
    }
</style>
<script>
    document.querySelector('.duv').classList.add('active');
</script>
{% endblock %}