<style>
  .road-rage-regular {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: 55px;
    font-style: normal;
    color: #CB6CE6;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }  
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .main-content {
    text-align: left;
  }
</style>
          
<h3 class="road-rage-regular">E DEPOIS DO ENEM?</h3>
<br>
<div class="container main-content">
  <p class="text-left">Através do ENEM, o aluno pode concorrer a uma vaga no Ensino Superior, se inscrevendo no SISU, PROUNI e/ou FIES. É possível que o estudante use sua nota do ENEM nos três programas, no entanto, só poderá escolher uma instituição.</p>
  <p class="text-left">
    <h5><strong>SISU (Sistema de Seleção Unificada)</strong></h5>
    <p>Neste programa, as vagas são ofertadas apenas para universidades públicas de ensino superior de todo o Brasil. Para participar, é necessário que os estudantes tenham participado da última edição do ENEM, tirado nota maior que zero na redação e não estar na condição de treineiro.
      <br>Para mais informações, <a href="https://acessounico.mec.gov.br/sisu">clique aqui</a>.
    </p>
  </p>
  <p class="text-left">
    <h5><strong>PROUNI (Programa Universidade Para Todos)</strong></h5>
    <p>O PROUNI oferta bolsas de estudo integral (100%) e parcial (50% do valor da mensalidade do curso) em cursos de graduação em instituições privadas. Para participar desse programa e receber a bolsa integral, o estudante precisa comprovar renda mínima mensal de até 1,5 salário mínimo. Já para a bolsa parcial, a renda mensal exigida é de até 3 salários mínimos. Além disso, é necessário atender a pelo menos uma das seguintes condições:
      <br>I.	tenha cursado:
      <br>a)	o ensino médio integralmente em escola da rede pública;
      <br>b)	o ensino médio integralmente em instituição privada, na condição de bolsista integral da respectiva instituição;
      <br>c)	o ensino médio parcialmente em escola da rede pública e parcialmente em instituição privada, na condição de bolsista integral da respectiva instituição;
      <br>d)	o ensino médio parcialmente em escola da rede pública e parcialmente em instituição privada, na condição de bolsista parcial da respectiva instituição ou sem a condição de bolsista;
      <br>e)	o ensino médio integralmente em instituição privada, na condição de bolsista parcial da respectiva instituição ou sem a condição de bolsista; e
      <br>II.	seja pessoa com deficiência, na forma prevista na legislação; e
      <br>III.	seja professor da rede pública de ensino, exclusivamente para os cursos de licenciatura e pedagogia, destinados à formação do magistério da educação básica. Neste caso não é aplicado o limite de renda exigido aos demais candidatos.
      <br>Para mais informações, <a href="https://acessounico.mec.gov.br/prouni">clique aqui</a>.
    </p>
  </p>
  <p class="text-left">
    <h5><strong>FIES (Fundo de Financiamento Estudantil)</strong></h5>
    <p>É um programa que tem como objetivo conceder financiamento a estudantes em cursos de graduação em instituições privadas. Para se inscrever, é preciso atender às seguintes condições:
      <br>a)	ter participado do Exame Nacional do Ensino Médio - Enem a partir da edição de 2010, com nota no Exame válida até o momento anterior à abertura das inscrições, tenha obtido média aritmética das notas nas 5 (cinco) provas igual ou superior a 450 (quatrocentos e cinquenta) pontos e nota na prova de redação superior a 0 (zero), assim como não tenha participado no referido Exame como "treineiro";
      <br>b)	estar inscrito no Cadastro Único para Programas Sociais do Governo Federal (CadÚnico) com renda familiar per capita de até meio salário-mínimo.
      <br>Para mais informações, <a href="https://acessounico.mec.gov.br/fies">clique aqui</a>.
    </p>
  </p>
</div>