<h3><img class="seliga-imagem" src="../../../static/enem/img/seliganoenem.png"" alt=""> </h3>
<br>
<div class="container main-content">
    <p class="text-justification">
        Considerando a necessidade de resposta aos diversos desafios enfrentados pelo estudante do Ensino Médio da Rede Estadual de Ensino, quanto ao acesso ao Ensino Superior, a <a href="../../../static/enem/midia/Portaria Projeto Se Liga no ENEM.pdf" target="_blank">Portaria Nº 1796</a>   de 13 de Junho de 2024 instituiu o <b>Projeto Se Liga no Enem</b> que visa: <br>
        I. Intensificar as ações pedagógicas para fortalecer a participação dos estudantes do ENEM, visando ao acesso ao Ensino Superior; <br>
        II. Produzir e disponibilizar videoaulas sobre os objetos do conhecimento mais abordados no ENEM; <br>
        III. Disponibilizar Ambiente Virtual de Aprendizagem - AVA com recursos educativos e ferramentas que permitam o acompanhamento dos estudantes; <br>
        IV. Incentivar o acompanhamento dos responsáveis pela trajetória educacional e pela progressão na carreira estudantil; <br>
        V. Promover melhoria dos índices de aprendizagem dos estudantes da Rede Estadual de Ensino Médio no Rio Grande do Norte.
    </p>
    <br>
    
</div>

<style>
    .seliga-imagem{
        width: 400px;
    }
</style>