<style>
  .road-rage-regular {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: 55px;
    font-style: normal;
    color: #0CC0DF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .main-content {
  text-align: justification;
}
</style>
    
<h3 class="road-rage-regular">+DICAS</h3>
<br>
<div class="container main-content">
<p class="text-justification">
  <h5><strong>Você já sabe sobre a TRI (Teoria de Resposta ao Item)?</strong></h5>
  <p class="text-justification">A TRI é o algoritmo utilizado pelo Enem para corrigir e dar nota às questões da prova. As questões são divididas em três níveis: fácil, médio e difícil. Desse modo, pelo padrão de erros e acertos do estudante, o algoritmo consegue identificar se ele acertou por chute, ou se de fato sabia a resposta.</p>
</p>
<p class="text-justification">
  <h5><strong>Faça pequenos resumos</strong></h5>
  <p class="text-justification">Ao finalizar um conteúdo, faça pequenos resumos, mapas mentais, mapas conceituais, o que fizer mais sentido e for mais eficiente para você. Nesse sentido, também é importante que você faça exercícios de fixação, para identificar melhor em qual assunto você está tendo mais dificuldade.</p>
</p>
<p class="text-justification">
  <h5><strong>Prepare-se para a redação</strong></h5>
  <p class="text-justification">A redação é muito importante e conhecer a estrutura de um texto é muito importante para que você se saia bem. Além disso, estar sempre atento aos assuntos da atualidade também é necessário, para que você consiga selecionar, relacionar, organizar e interpretar acontecimentos em defesa de um ponto de vista. No canal Método Questiona, existe uma indicação muito boa para estrutura de redação, você pode conferir <a href="https://www.youtube.com/watch?v=j2nvyWf8Tj0">clicando aqui</a>.</p>
</p>
<p class="text-justification">
  <h5><strong>Use as redes sociais a seu favor</strong></h5>
  <p class="text-justification">As redes sociais são uma ótima ferramenta, que podem - e devem - ser usadas para auxiliar na preparação do Enem. Muitos influenciadores trabalham com esse nicho (educacional) e dão dicas, disponibilizam materiais audiovisuais curtos e por aí vai. São exemplos disso o <a href="https://www.instagram.com/professorferretto/">Professor Ferreto</a>, que tem suas mídias sociais recheadas de dicas, além de um canal no YouTube com muitos conteúdo gratuitos, o <a href="https://www.instagram.com/umberto.mann/">Umberto Mannarino</a>, que também dispõe de materiais tanto no Instagram quanto no YouTube, e a Allana, do <a href="https://www.instagram.com/vempramimedicina/">@vempramimedicina</a> no Instagram.</p>
</p>
<p class="text-justification">
  <h5><strong>Descanse!</strong></h5>
  <p class="text-justification">Por último e não menos importante: descanse! Dê uma pausa, tire um tempo para aproveitar a família e os amigos. O descanso também faz parte da preparação.</p>
</p>
</div>