<style>
  .road-rage-regular {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: 55px;
    font-style: normal;
    color: #00BF63;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  .main-content {    
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: left;
  }

  .text-justification{
    text-align: justify;
  }

  .banner img {
    border-radius: 10px;
    max-width: 100%;
  }

  iframe {
    border-radius: 10px;
  }

  .videos {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .aula {
    padding: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .aula p.text-center{
    margin-bottom:5px;
  }

  .nav-tabs {
    background-color: #00BF63;
    /* background-color: #c1c45b; */
    border-radius: 10px;
    justify-content: space-between;
  }    

  .nav-link-aulas {
    border: none;
    background: none;
    border-radius: 5px;
    font-weight: 900;
    color: #ffffff;
    margin: 5px auto;
    opacity: 1; /* Opacidade padrão */
    transition: opacity 0.3s ease; /* Transição suave para a opacidade */
    text-decoration: underline;
  }

  .dimmed {
    opacity: 0.5; /* Opacidade esmaecida */
    text-decoration: none;
  }

  .nav-link-aulas:hover, .nav-link-aulas:focus {
    text-decoration: underline;
    color: #ffffff;
  }

  .nav-link-componentes {
    border-radius: 20px;
    border: none;
    background-color: #7fdfb1;
    color: #004c27;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 5px;
  }
  
  .nav-link-componentes:hover, .nav-link-componentes:focus {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

</style>
          
<h3 class="road-rage-regular">ESTUDE COM A GENTE</h3>
<br>
<div class="container main-content">
  <div class="banner">
    <a href="https://rn.ava.rieh.nees.ufal.br/" target="_blank">
        <img src="../../../static/enem//img/fac79a7c-1cc5-45b2-a842-01e961aef85c.jpeg" alt="Banner AVA" width="100%">
    </a>
  </div>
  <p class="text-justification pt-4">
      A <strong>RIEH (Rede de Inovação para Educação Híbrida)</strong> é a plataforma pela qual os estudantes terão acesso aos materiais do Se Liga no ENEM, desenvolvidos pelos próprios professores da rede. Para isso, os alunos deverão fazer login com seu usuário e senha, que serão disponibilizados pela Secretaria de Estado da Educação, do Esporte da Cultura e do Lazer do Rio Grande do Norte (SEEC/RN). <a href="https://rn.ava.rieh.nees.ufal.br/" target="_blank">Acesse o AVA.</a>
      <br>
      Por meio dessa plataforma, será ofertada aos estudantes uma variedade de recursos educacionais digitais, como vídeos, animações, imagens, áudios e textos. 
  </p>
  <br>
  
  <div class="container mt-3 mb-5">
    <h3 class="road-rage-regular text-center">Confira as videoaulas aqui!</h3>
    
    <!-- Navegação Horizontal -->
    <nav aria-label="Conteúdos do Enem">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link-aulas active " id="nav-linguagens-tab" data-bs-toggle="collapse" data-bs-target="#collapseLinguagens" aria-expanded="false" aria-controls="collapseLinguagens" aria-label="Linguagens e Redação" onclick="handleClickArea('#00BF63','#7fdfb1','#004c27')" >Linguagens e Redação</button>
        <button class="nav-link-aulas dimmed" id="nav-matematica-tab" data-bs-toggle="collapse" data-bs-target="#collapseMatematica" aria-expanded="false" aria-controls="collapseMatematica" aria-label="Matemática" onclick="handleClickArea('#ff6a20','#e3936c','#571e02')">Matemática</button>
        <button class="nav-link-aulas dimmed" id="nav-humanas-tab" data-bs-toggle="collapse" data-bs-target="#collapseHumanas" aria-expanded="false" aria-controls="collapseHumanas" aria-label="Ciências Humanas" onclick="handleClickArea('#0c92df','#0CC0DF','#023857')">Ciências Humanas</button>
        <button class="nav-link-aulas dimmed" id="nav-natureza-tab" data-bs-toggle="collapse" data-bs-target="#collapseNatureza" aria-expanded="false" aria-controls="collapseNatureza" aria-label="Ciências da Natureza" onclick="handleClickArea('#FF5757', '#f68888', '#4d0101')">Ciências da Natureza</button>
      </div>
    </nav>

    <!-- Conteúdo dos Collapses Horizontais -->
    <div id="accordionHorizontal">
      <div class="collapse show" id="collapseLinguagens" data-bs-parent="#accordionHorizontal">
        <div class="row mt-3">
          <!-- Navegação Vertical Linguagens e Redação -->
          <div class="col-md-3">
            <nav class="nav flex-column div-aulas" aria-label="Componentes">                                      
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseEspanhol" aria-expanded="false" aria-controls="collapseEspanhol" aria-label="Español">LÍNGUA ESPANHOLA</button>
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseIngles" aria-expanded="false" aria-controls="collapseIngles" aria-label="English">LÍNGUA INGLESA</button>
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapsePortugues" aria-expanded="false" aria-controls="collapsePortugues" aria-label="Português">LÍNGUA PORTUGUESA</button>
              <button class="nav-link-componentes" data-bs-toggle="collapse" data-bs-target="#collapseLiteratura" aria-expanded="false" aria-controls="collapseLiteratura" aria-label="Literatura">LITERATURA</button>
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseRedacao" aria-expanded="false" aria-controls="collapseRedacao" aria-label="Redação">REDAÇÃO</button>
            </nav>
          </div>
          <!-- Conteúdo Linguagens e Redação -->
          <div class="col-md-9" id="accordionLinguagens">
            <div class="collapse show" id="collapseLiteratura" data-bs-parent="#accordionLinguagens">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Introdução a Literatura</p>
                  <!-- sem acessibilidade -->
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/RAtnbJA3BUg?si=r3rddPaYzLg5TN6b?autoplay=1" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>                 
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Introdução a Literatura</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/d8H_Wz7yIW4?si=QWIQtzk1FEyQgGZL" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>                 
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseIngles" data-bs-parent="#accordionLinguagens">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Estratégias De Leitura: Skimming</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/k_Xd6DZ84wE?si=dqA8xMKTR-IMjvgV" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Estratégias De Leitura: Skimming</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/RAILPJ95EP0?si=iZqEcNry_HIjdaKe" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseEspanhol" data-bs-parent="#accordionLinguagens">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Por que Espanhol?</p>
                  <!-- sem acessibilidade -->
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/13_NyAG1C34?si=B72F9KQA-gjEChFN" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Por que Espanhol?</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/sUnFUUpxBT8?si=C6lHxgOBzLonrk2k" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                </div>
              </div>
            </div>  
            <div class="collapse" id="collapsePortugues" data-bs-parent="#accordionLinguagens">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Interpretação de Texto e Análise Linguística</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/RZ8Q1gSDCKc?si=cQjoGElBT_ZTC2dw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Interpretação de Texto e Análise Linguística</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/QfUjDosxWAw?si=uQ1y0UuaiIuY63mM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseRedacao" data-bs-parent="#accordionLinguagens">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Texto Dissertativo Argumentativo</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/3zcsfATsYmQ?si=WZ76M3Ezk6wLVEXM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseHumanas" data-bs-parent="#accordionHorizontal">
        <div class="row mt-3">
          <!-- Navegação Vertical Humanas -->
          <div class="col-md-3">
            <nav class="nav flex-column div-aulas" aria-label="Componentes">
              <button class="nav-link-componentes" data-bs-toggle="collapse" data-bs-target="#collapseFilosofia" aria-expanded="false" aria-controls="collapseFilosofia" aria-label="Filosofia">FILOSOFIA</button>                  
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseGeografia" aria-expanded="false" aria-controls="collapseGeografia" aria-label="Geografia">GEOGRAFIA</button>
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseHistoria" aria-expanded="false" aria-controls="collapseHistoria" aria-label="História">HISTÓRIA</button>                
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseSociologia" aria-expanded="false" aria-controls="collapseSociologia" aria-label="Sociologia">SOCIOLOGIA</button>                
            </nav>
          </div>
          <!-- Conteúdo Humanas -->
          <div class="col-md-9" id="accordionHumanas">
            <div class="collapse show" id="collapseFilosofia" data-bs-parent="#accordionHumanas">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Introdução ao Estudo de Filosofia</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/n-cWuyNYSew?si=NO4U2BB3GOrMbCv4" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Introdução ao Estudo de Filosofia</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/Xo8gC_wBuJI?si=Zb8Z7YPFG20cmlSU" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseGeografia" data-bs-parent="#accordionHumanas">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Regionalização Mundial</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/p3aPNTyNWBQ?si=_OLaDH0uY0S4KDhY" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div> 
            <div class="collapse" id="collapseHistoria" data-bs-parent="#accordionHumanas">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Introdução ao Estudo da História</p>
                  <!-- problema de privacidade -->
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/d6iLi-pFEPc?si=Vnb8EqIsUsaeESyy" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Introdução ao Estudo da História</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/W58SHrXcIZ0?si=l-h8uDqoWHoTNtuk" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseSociologia" data-bs-parent="#accordionHumanas">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Sociologia do Trabalho</p>
                  <!-- sem acessibilidade -->
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/fm6ni5OT5xY?si=0VZNCNQy44eT4yoa" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Sociologia do Trabalho</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/QO6g8vqYP8E?si=VFoXBKtcin0DS581" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>                               
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseMatematica" data-bs-parent="#accordionHorizontal">
        <div class="row mt-3">
          <!-- Navegação Vertical Matemática -->
          <div class="col-md-3">
            <nav class="nav flex-column div-aulas" aria-label="Componentes">
              <button class="nav-link-componentes" data-bs-toggle="collapse" data-bs-target="#collapseConteudoMat" aria-expanded="false" aria-controls="collapseConteudoMat" aria-label="Matemática">MATEMÁTICA</button>
            </nav>
          </div>
          <!-- Conteúdo Matemática -->
          <div class="col-md-9" id="accordionMatematica">
            <div class="collapse show" id="collapseConteudoMat" data-bs-parent="#accordionMatematica">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Prog. Aritmética e Prog. Geométrica</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/YT59Qpu6OGw?si=RNXOA9J4NCCkzSEb" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Prog. Aritmética e Prog. Geométrica</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/STQQuZIDqns?si=07_k2FUQuXx0bTo2" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>                
              </div>
            </div>                
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseNatureza" data-bs-parent="#accordionHorizontal">
        <div class="row mt-3">
          <!-- Navegação Vertical Natureza -->
          <div class="col-md-3">
            <nav class="nav flex-column div-aulas" aria-label="Componentes">                  
              <button class="nav-link-componentes" data-bs-toggle="collapse" data-bs-target="#collapseBiologia" aria-expanded="false" aria-controls="collapseBiologia" aria-label="Biologia">BIOLOGIA</button>
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseFisica" aria-expanded="false" aria-controls="collapseFisica" aria-label="Física">FÍSICA</button>
              <button class="nav-link-componentes dimmed" data-bs-toggle="collapse" data-bs-target="#collapseQuimica" aria-expanded="false" aria-controls="collapseQuimica" aria-label="Química">QUÍMICA</button>
            </nav>
          </div>
          <!-- Conteúdo Natureza -->
          <div class="col-md-9" id="accordionNatureza">
            <div class="collapse show" id="collapseBiologia" data-bs-parent="#accordionNatureza">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Cadeias e teias alimentares</p>
                  <!-- sem acessibilidade -->
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/2sXIe3rTrOI?si=_98mudb8wX2sAj0F" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Cadeias e teias alimentares</p>
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/C15-kz_WA4w?si=cxgEwJR83FVlZfvA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseFisica" data-bs-parent="#accordionNatureza">
              <div class="videos mt-2">
                <div class="aula">
                  <p class="text-center">Aula 01 <br> Energia Mecânica</p>
                  <!-- problema de privacidade -->
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/-wtrn-JxUoo?si=dSgMXkX6A1F6-YmP" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Energia Mecânica</p>                  
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/mBnvZTLVEKc?si=3gqiJEekvSUiYcwz" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseQuimica" data-bs-parent="#accordionNatureza">
              <div class="videos mt-2">
                <!-- sem aula -->
                <!-- <div class="aula">
                  <p class="text-center">Aula 01 <br> Reações Químicas: Conceitos e Aplicações</p>
                  <iframe width="200px" src="https://www.youtube.com/embed/---" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div> -->
                <div class="aula">
                  <p class="text-center">Questões 01 <br> Reações Químicas: Conceitos e Aplicações</p>
                  <!-- problema de privacidade -->
                  <iframe class="iframe-paused" width="200px" src="https://www.youtube.com/embed/BldDysb33T4?si=Oz62KutvBSkcQ2cKz" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>                
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

