<style>
    .road-rage-regular {
      font-family: "Road Rage", sans-serif;
      font-weight: 400;
      font-size: 55px;
      font-style: normal;
      color: #00BF63;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
    
    .main-content {    
        display: flex;
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
        text-align: center;
    }

    .text-justification{
        text-align: justify;
    }
 
    .banner img {
      border-radius: 10px;
      max-width: 100%;
    }

    .carousel-indicators [data-bs-target] {
      background-color: #00BF63; /* Cor dos indicadores inativos */
    }

    .carousel-indicators .active {
      background-color: #00BF63; /* Cor do indicador ativo */
    }
</style>
          
<h3 class="road-rage-regular">ESTUDE COM A GENTE</h3>
<br>
<div class="container main-content">
    <div class="banner">
    <a href="https://rn.ava.rieh.nees.ufal.br/" target="_blank">
        <img src="../../../static/inicio/img/banner_ava.png" alt="Banner AVA" width="100%">
    </a>
    </div>
    <p class="text-justification pt-4">
        A <strong>RIEH (Rede de Inovação para Educação Híbrida)</strong> é a plataforma pela qual os estudantes terão acesso aos materiais do Se Liga no ENEM, desenvolvidos pelos próprios professores da rede. Para isso, os alunos deverão fazer login com seu usuário e senha, que serão disponibilizados pela Secretaria de Estado da Educação, do Esporte da Cultura e do Lazer do Rio Grande do Norte (SEEC/RN). <a href="https://rn.ava.rieh.nees.ufal.br/" target="_blank">Acesse o AVA aqui.</a>
        <br>
        Por meio dessa plataforma, será ofertada aos estudantes uma variedade de recursos educacionais digitais, como vídeos, animações, imagens, áudios e textos. 
    </p>
    <br>
    <h3 class="road-rage-regular">Confira as primeiras aulas!</h3>
    <div class="videos">
      <div class="video"><iframe width="200px" src="https://www.youtube.com/embed/n-cWuyNYSew?si=Tjf_7x3-Svl04ykZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
      <div class="video"><iframe width="200px" src="https://www.youtube.com/embed/-wtrn-JxUoo?si=ff8Yq-SRp4KFHBiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
      <div class="video"><iframe width="200px" src="https://www.youtube.com/embed/3zcsfATsYmQ?si=3YuB4Ylj2TtvBm5C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>
</div>