<style>
    .road-rage-regular {
      font-family: "Road Rage", sans-serif;
      font-weight: 400;
      font-size: 55px;
      font-style: normal;
      color: #FF5757;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
    .custom-table {
        background-color: #f8f9fa; /* Cor de fundo da tabela */
        border-radius: 0.5rem; /* Bordas arredondadas */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }
    .custom-table thead th {
        background-color: #FF5757; /* Cor de fundo do cabeçalho */
        color: #fff; /* Cor do texto do cabeçalho */
        text-align: center; /* Alinha o texto ao centro */
        font-weight: bold; /* Negrito no texto do cabeçalho */
    }
    .custom-table tbody tr:nth-child(odd) {
        background-color: #ffffff; /* Cor de fundo das linhas ímpares */
    }
    .custom-table tbody tr:nth-child(even) {
        background-color: #fef9ed; /* Cor de fundo das linhas pares */
    }
    .custom-table tbody td {
        padding: 1rem; /* Espaçamento interno das células */
        vertical-align: middle; /* Alinha verticalmente o conteúdo */
    }
    .custom-table tbody td b {
        color: #FF5757; /* Cor azul para as datas */
    }
    .custom-table tbody td p {
        margin: 0; /* Remove margens desnecessárias */
    }
    .custom-table tbody td b:hover {
        color: #FF5757; /* Azul mais escuro ao passar o mouse */
    }
    .text-justification{
        text-align: justify;
    }
</style>
    
<h3 class="road-rage-regular">ATENÇÃO AOS PRAZOS!</h3>
<div class="container my-5 mt-2">
    <br>
    <div class="table-responsive">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Evento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>13/05/2024</b></td>
                    <td class="text-justification">Resultado da justificativa de ausência no Enem 2023 e solicitação de isenção da taxa de inscrição para o Enem 2024</td>
                </tr>
                <tr>
                    <td><b>13/05/2024 a 17/05/2024</b></td>
                    <td class="text-justification">Recurso da justificativa de ausência no Enem 2023 e solicitação de isenção da taxa de inscrição para o Enem 2024</td>
                </tr>
                <tr>
                    <td><b>24/05/2024</b></td>
                    <td class="text-justification">Resultado do recurso da justificativa de ausência no Enem 2023 e solicitação de isenção da taxa de inscrição para o Enem 2024</td>
                </tr>
                <tr>
                    <td><b>27/05/2024 a 14/06/2024</b></td>
                    <td class="text-justification">Inscrições</td>
                </tr>
                <tr>
                    <td><b>27/05/2024 a 19/06/2024</b></td>
                    <td class="text-justification">Pagamento da taxa de inscrição</td>
                </tr>
                <tr>
                    <td><b>16/06/2024 a 21/06/2024</b></td>
                    <td class="text-justification">Período extra de inscrições para moradores do Rio Grande do Sul</td>
                </tr>
                <tr>
                    <td><b>27/05/2024 a 14/06/2024</b></td>
                    <td class="text-justification">Tratamento pelo nome social</td>
                </tr>
                <tr>
                    <td><b>27/05/2024 a 14/06/2024</b></td>
                    <td class="text-justification">Solicitação de atendimento especializado</td>
                </tr>
                <tr>
                    <td><b>24/06/2024</b></td>
                    <td class="text-justification">Resultado de atendimento especializado</td>
                </tr>
                <tr>
                    <td><b>24/06/2024 a 28/06/2024</b></td>
                    <td class="text-justification">Recurso de atendimento especializado</td>
                </tr>
                <tr>
                    <td><b>05/07/2024</b></td>
                    <td class="text-justification">Resultado do recurso de atendimento especializado</td>
                </tr>
                <tr>
                    <td><b>03/11/2024 e 10/11/2024</b></td>
                    <td class="text-justification">Aplicação das provas</td>
                </tr>
                <tr>
                    <td><b>11/11/2024 a 15/11/2024</b></td>
                    <td class="text-justification">Solicitação de reaplicação</td>
                </tr>
                <tr>
                    <td><b>10/12/2024 e 11/12/2024</b></td>
                    <td class="text-justification">Reaplicação das provas</td>
                </tr>
                <tr>
                    <td><b>20/11/2024</b></td>
                    <td class="text-justification">Divulgação do gabarito</td>
                </tr>
                <tr>
                    <td><b>13/01/2025</b></td>
                    <td class="text-justification">Divulgação do resultado</td>
                </tr>
            </tbody>
        </table>
</div>