<style>
    .road-rage-regular {
        font-family: "Road Rage", sans-serif;
        font-weight: 400;
        font-size: 55px;
        font-style: normal;
        color: #ff6a20;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    .main-content {
    text-align: left;
    }
</style>    

<h3 class="road-rage-regular">CHEGOU O DIA DA PROVA</h3>
<br>
<div class="container main-content">   
    <p class="text-justification">
        <h5><strong>Se atente ao local e horário das provas</strong></h5>
        <p class="text-justification">Verifique com antecedência o local da sua prova. Se possível, visite o local antes do dia do exame para saber exatamente como chegar, permitindo um melhor planejamento para o deslocamento até o mesmo, considerando possíveis atrasos no trânsito.</p>
    </p>
    <p class="text-justification">
        <h5><strong>Leve os materiais necessários</strong></h5>
        <p class="text-justification">Não esqueça de levar um documento de identidade original com foto. Pode ser RG, CNH, passaporte, carteira de trabalho ou outro documento oficial. Além disso, leve apenas canetas esferográficas de tinta preta (fabricadas em material transparente) e imprima e leve o cartão de confirmação de inscrição, pois, apesar de não ser obrigatório, nele contém informações importantes como local e horário da prova.</p>
    </p>
    <p class="text-justification">
        <h5><strong>Cuidado com o que não é permitido</strong></h5>
        <p class="text-justification">Participa desta lista celulares e smartphones, que devem ser desligados e guardados no envelope porta-objetos fornecido pelo fiscal, relógios de qualquer tipo, incluindo smartwatches, calculadoras, e quaisquer outros dispositivos eletrônicos. Também não são permitidos lápis, lapiseira, borracha, livros, anotações, impressões, corretores de texto e apontadores. Não utilize óculos escuros, bonés, chapéus, viseiras, gorros e similares, bem como protetores auriculares. Lembre-se de não falar com outros candidatos durante a prova.</p>
    </p>
    <p class="text-justification">
        <h5><strong>Use roupas confortáveis</strong></h5>
        <p class="text-justification">Vista-se com roupas leves e confortáveis, considerando a previsão do tempo. Lembre-se de que você ficará sentado por várias horas. Atenção ao fato de não é permitido o uso de relógio. Verifique o horário no relógio disponibilizado na sala de prova.</p>
    </p>
    <p class="text-justification">
        <h5><strong>Alimentação também ajuda</strong></h5>
        <p class="text-justification"> Tome um café da manhã reforçado, mas evite alimentos pesados. Leve um lanche leve para consumir durante a prova, como barras de cereal, frutas ou biscoitos. Água também é essencial.</p>
    </p>
    <p class="text-justification">
        <h5><strong>Administre o seu tempo</strong></h5>
        <p class="text-justification">O Enem é uma prova longa, por isso, controle o tempo para responder todas as questões. Se uma questão estiver muito difícil, passe para a próxima e retorne a ela se sobrar tempo.</p>
    </p>
    <p class="text-justification">
        <h5><strong>Leia com atenção e revise suas respostas</strong></h5>
        <p class="text-justification">Leia cada questão com calma e atenção, e certifique-se de entender o que está sendo pedido antes de responder. Divida seu tempo de forma equilibrada entre todas as questões. Isso ajuda a evitar erros por falta de atenção. Se sobrar tempo, revise suas respostas. Às vezes, um detalhe que passou despercebido pode ser corrigido na revisão.</p>
    </p>    
    <p class="text-justification">
        <h5><strong>Mantenha a calma</strong></h5>
        <p class="text-justification">Se sentir-se nervoso ou ansioso, respire fundo e tente relaxar. Lembre-se de que você se preparou para este momento.</p>
    </p>
    <p class="text-justification">
        <h5><strong>Seja positivo</strong></h5>
        <p class="text-justification">Mantenha uma atitude positiva e confie no seu preparo. Acreditar em si mesmo é fundamental para um bom desempenho.</p>
    </p>
</div>